*  { margin: 0; padding: 0;}
html {
	background-color: #999;
}
body {
	/*font-family: 'Coustard', serif;*/
}
#frame {
	width: 960px;
	height: 450px;
	margin: 0 auto;
	background-color: #444;
	border: 2px solid #999;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
#slideshow {
	float: left;
	width: 800px;
	height: 400px;
	margin: 0 10px 10px 0;
	border: 1px solid #aaa;
	background-color: #000;
}
#gui > fieldset {
	padding: 3px;
}
#gui button {
	padding: 2px;
}
/*
button.transition {
	background-color: #000;
	color: orange;
	font-weight: bold;
	font-family: monospace;
	border-radius: 5px;
}
*/
a {
	color: #ffa500;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #d67600;
}
a:active{
	color: #ffff00;
}