*  { margin: 0; padding: 0;}
html {
	background-color: #999;
}
body {
	/*font-family: 'Coustard', serif;*/
}
#frame {
	width: 960px;
	/* height: 450px; */
	margin: 0 auto;
	background-color: #444;
	border: 2px solid #999;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,1);
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);
   box-shadow: inset 0 0 5px rgba(0,0,0,1);
	/* border-bottom: 1px solid #ffffff; */
}
#slideshow {
	float: left;
	width: 800px;
	height: 400px;
	margin: 0 10px 10px 0;
	border: 1px solid #aaa;
	background-color: #000;
}
#frame label {
	color: #dddddd;
}
#frame #prev-next {
	clear: left;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#frame #prev-next button {
	padding: 5px;
	background-color: #000;
	color: orange;
	border-radius: 5px;
	margin: 5px;
}
#frame #goto {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#frame #goto input {
	margin-right: 5px;
}
#frame #transitions input {
	margin-right: 5px;
}
a {
	color: #ffa500;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #d67600;
}
a:active{
	color: #ffff00;
}